body{
    background: grey;
    color: black;
    text-align: center;
    font-family: 'Labtop Down Under', sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

#cabecera{
    font-family: 'Nagaro', sans-serif;
    text-align: left;
    background: cornflowerblue;
    box-shadow: 5px 5px 30px -10px #4d4d4d;
    font-weight: bold;
    color: white;
    margin: 0;
    padding: 0.5em;
}

#cabecera #logo{
    width: 60px;
    vertical-align: middle;
}

#Tagline{
    font-family: 'Roboto Mono', monospace;
    margin: 0 0 0 1em;
    font-weight: normal;
}

#container {
    width: 70%;
    padding: 0.5em;
    text-emphasis: left;
    background-color: white;
    margin: 0 auto;
}

#container p1{
    font-family: 'Courier New', Courier, monospace;
}

#container h1
{
    font-size: 40px;
}

#container p
{
    font-family: Arial, Helvetica, sans-serif;
}

#container #footer{
    background: tomato;
    color: white;
    font-family: 'Architects Daughter', cursive;
    text-align: center;
    padding: 0.5em;
}